body{
  background: lightyellow;

  h1{
    color: rebeccapurple;
  }
  p{
    text-transform: capitalize;
  }
  div.male{
    background-color: red;
  }
  div.female{
    background-color: yellow;
  }
  div.female,div.male{
    display: inline-block;
    border-radius: 5px;
    line-height: 0;
    padding: 4px;

    img{
      border-radius: 5px;
    }
  }
  .user-info{
    display: inline-block;
    margin-left: 15px;
  }
  .btn3, .btn3:link, .btn3:visited {
    padding: 15px 30px;
    text-decoration: none;
    display: block;
    color: #333;
    font-size: .8em;
    letter-spacing: .1em;
    text-transform: uppercase;
    min-width: 100px;
    max-width: 60%;
    position: relative;
    margin: 0 auto;
    border: 2px solid transparent;
    transition: all .2s cubic-bezier(0.455, 0.030, 0.515, 0.955);
    background-color: transparent;

    &:after, &:before {
      content: "";
      position: absolute;
      left: - 1em;
      top: -2px;
      height: 3.3em;
      width: 0;
      border: 1px solid #c75842;
      transition: inherit;
    }

    &:not(:last-child){
      margin-bottom: 15px;
    }
    &:focus{
      outline: 0;
    }

    &:after {
      left: auto;
      right: -1em;
    }

    &:hover {
      border-color: #c75842;
      transition: border-color .2s .2s cubic-bezier(0.455, 0.030, 0.515, 0.955);

      &:after, &:before {
        right: -2px;
        transition: all .2s cubic-bezier(0.455, 0.030, 0.515, 0.955);
      }

      &:before {
        left: -2px;
        right: auto;
      }
    }
  }
  .menu{
    ul{
      list-style-type: none;
      display: flex;
      justify-content: center;
      li{
        font-size: 20px;
        &:not(:last-child){
          margin-right: 20px;
        }
        a{
          text-decoration: none;
        }
      }
    }
  }
  .Post{
    &:not(:last-child){
      margin-bottom: 25px;
    }
    p{
      margin: 0;
    }
    .post-info{
      background-color: lightcoral;
      display: flex;
      justify-content: space-between;
      padding: 15px;
      color: darkblue;
    }
    .post-content{
      padding: 15px;
      font-family: Arial;
      font-style: italic;
      border: 1px solid lightcoral;
    }
  }
}